@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.center-text{
    text-align: center;
}
.menu-persona{
    font-size: 100px;
    text-align: center;
}
.menu-boton{
    border-radius: 12px;
    background: rgb(36, 0, 17);
        background: linear-gradient(90deg, rgba(36, 0, 17, 0.9953703703703703) 0%, rgba(90, 9, 121, 0.9375) 35%, rgba(255, 0, 209, 0.8402777777777778) 100%);
        color:white;
    width:100%;
    margin: 15px 15px 15px 15px;
}
.menu-main{
    border-radius: 12px;
    border-color: blueviolet;
    border: 10px;
}
button.lrRC{
    border: 0px;
    background-color: transparent;
    transition: background-color 2s ease-out 100ms;
    border-radius: 12px;
}
button.lrRC:hover{
    
    background:rgba(90, 9, 121, 0.9375);
    color:white;
}
button.d-graphic{
    width: 100%;
    height: 70%;
    border:0px;
    border-radius: 25px;
    background: rgb(115, 0, 185);
        background: linear-gradient(90deg, rgba(115, 0, 185, 1) 0%, rgba(138, 39, 198, 1) 38%, rgba(191, 110, 241, 1) 99%);
    color: white;
    -webkit-box-shadow: 12px 13px 17px 8px rgba(57, 4, 79, 0.67);
        box-shadow: 12px 13px 17px 8px rgba(57, 4, 79, 0.67);
}
button.b-files{
    background: rgb(12, 0, 19);
        background: linear-gradient(90deg, rgba(12, 0, 19, 1) 0%, rgba(93, 1, 113, 1) 38%, rgba(111, 0, 163, 1) 99%);
    color:white;
    width: 100%;
    border-spacing: 100px;
    border-color: white;
    border-radius: 10px;
}
i.i-graphic{
    font-size: 30px;
    margin: 50%;
}
#i-files{
    font-size: 45px;
}